@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');



:root {
  --mainBackground: hsl(233, 47%, 7%);
  --cardBackground: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --White:  hsl(0, 0%, 100%)
  --mainTransparentWhite: hsla(0, 0%, 100%, 0.75)
  --statTransparentWhite: hsla(0, 0%, 100%, 0.6)
}
